*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: gray;
    
    width: 70%;
    margin: 15px auto;
    height: 600px;
    
    box-sizing: border-box;
    border: 7px groove rgba(128, 128, 128, 0.327);

    display: flex;
    flex-direction: column;
}
.section-screen{
    position: relative;
}
.shine{
    background-color: rgba(255, 255, 255, 0.027);

    width: 100%;
    height: 20px;
    
    position: absolute;
    bottom: -2px;
}
.screen{
    background-color: black;
    
    width: 80%;
    height: 90px;
    margin: 20px auto 0 auto;
    padding: 6px 6px 0 6px;

    box-sizing: border-box;

    color: white;
    font-size: 3vw;
    text-align: end;
}

.section-buttons{
    background-color: rgba(94, 94, 94, 0.152);

    width: 80%;
    height: 57%;
    margin: auto;
    
    box-sizing: border-box;
    border: 5px groove  rgba(94, 94, 94, 0.044);
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.2px;

    width: 100%;

}
.queue{
    width: 25%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2px;

}
.button, .button-clear, .button-equal, .button-clearAll{
    background-color: orange;
    width: 100%;
    height: 65px;
    
    text-align: center;
    font-size: 4vw;
    color: white;
    list-style: none;
    
    box-sizing: border-box;
    border: 10px groove rgba(255, 166, 0, 0.413);
    box-shadow: 1px 3px 4px black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.button:hover, .button-clear:hover, .button-equal:hover, .button-clearAll:hover{
    background-color: rgb(131, 85, 0);
}